{% extends "base.html" %}

{% block content %}

{% comment %} <header class="header">
  <div class="header-text">Sign in via:</div>
  <a href="#" class="header-link">Spotify</a>
  <a href="#" class="header-link">Deezer</a>
</header> {% endcomment %}

<section class="landing-section landing-main">
  <h1>Welcome to Fithub</h1>
  <h2>
    Your favorite gym in the world
  </h2>
  <p class="landing-main-text">
    Got tired of ugly dudes around?
    <br>
    You have found a perfect solution...
  </p>
</section>

<section class="landing-section langing-features">
  <section class="landing-feature feature-music-services">
    <h2>Come checkout Fithub</h2>
    <ul>
      <li>Yoga</li>
      <li>Hot men dance</li>
    </ul>
  </section>
  <section class="landing-feature feature-notifications">
    <h3>Sign up today!</h3>
    <a href="{% url 'profile:signup'%}"> signup </a>
    <h3>Already have an account?</h3>
    <a href="{% url 'login:login'%}"> login </a>
  </section>
</section>

{% endblock content %}