{% extends "base.html" %}

{% block content %}

<div class="content-section">
	<form method='POST'>
		{% csrf_token %}
		{% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
      </p>
    {% endfor %}
		<div class="form-group">
			<input type="submit" name="button" value="Sign Up"></button>
		</div>
	</form>
	<div class="border-top pt-3">
		already have account?
		<a href="{% url 'login:login'%}"> login </a>
	</div>
</div>


{% endblock content %}
