{% extends "base.html" %}

{% block content %}

<h1> Class List</h1>

</br>
</br>

<p1>
  <ol>
  {% for class in classlist %}
      <li> <b>{{class.1}}</b>
        <a href="{% url 'profile:class' class.0%}">see more details</a>
        <form action="{% url 'profile:registerClass' class.0%}" method="post">
          {% csrf_token %}
            <div>
                <input type="hidden" name=test value=1>
                <input type="submit" value="Register">
            </div>
        </form>
  {% endfor %}
  </ol>
</p>
<p2>
  {{msg}} <br>
  <a href="{% url 'profile:classlist'%}">{{back}}</a>
</p2>

{% endblock content %}
