{% extends "base.html" %}

{% block content %}

<h1> User Portal</h1>
<small>
    Already a staff?
    <a href="{% url 'profile:staff'%}">switch to staff profile</a> <br>
</small>
<br>

<br>

<h4> Personal Information </h4>

<form>
    <div>
        <label for="uname">Legal full name: </label>  <br>
        <input type="text" id="uname" name="uname" value="{{member.0}}" readonly><br>
        <small> *please contact the admin if you need to change your legal full name</small>
    </div>
</form>
<form action="{% url 'profile:UpdateEmail'%}" method="post">
  {% csrf_token %}
    <div>
        <label for="uemail">Email address: </label>  <br>
        <input type="hidden" id="user_id" value="{{g_user_id}}">
        <input type="email" id="uemail" name="uemail" value="{{member.1}}">
        <input type="submit" value="update"> <br>
        <small> *Example: abc@case.edu </small>
    </div>
</form>

<form action="UpdatePhone" method="post">
  {% csrf_token %}
    <div>
        <label for="uphone">Phone number: </label>  <br>
        <input type="tel" id="uphone" name="uphone" pattern="[0-9]{10}" value="{{member.2}}">
        <input type="submit" value="update"><br>
        <small> *Example: 1234567890. <br> Your phone number may be initialized as "1010101010" upon registration. </small>
    </div>
</form>

<hr>
<br>

<h4> Membership Information </h4>

<p1>
    Remaining funds: {{member.3}}
</p>

<p1>
    Membership Level: {{level}}
</p>

<p1>
    Valid untill: {{member.4}}
</p>

<a href="{% url 'profile:memupdatepage'%}">click to update membership status</a>

<hr>
<br>

<h4> Class Information </h4>

<p>
    <b>Enrolled class list:</b>
    <ul>
        {% for class in classes %}
        <li><b>{{class.1}}</b>
            <a href="{% url 'profile:class' class.0%}">see more details</a>
            <form action="{% url 'profile:deleteClass' class.0%}" method="post">
                    {% csrf_token %}
                      <div>
                          <input type="hidden" name=test value=1>
                          <input type="submit" value="Delete">
                      </div>
                  </form>
        {% endfor %}  
    </ul>
</p>

<p>
    {% if empty %}
        You have no enrolled class yet.
    {% endif %}
</p>

<p>
    Want to enroll more classes?
    <a href="{% url 'profile:classlist'%}">sign up for classes</a>
</p>


<p>
    All done? 
    <a href="{% url 'profile:logout'%}">logout</a>
</p>
{% endblock content %}
