<html>
    <head>
        <title>FitHub</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <header>
        <img src="file:///Users/GenTsuki/Desktop/EECS341-Final/personal/yxs626/CameronTests/profile/templates/profile/fithublogo.svg" alt="fithub logo">
    </header>        
    I don't know why this header won't display, any help?
        {% block content %}
        
        {% endblock content %}
    </body>
</html>