{% extends "base.html" %}

{% block content %}

<div class="content-section">
  <form method='POST'>
      {% csrf_token %}
      <div>
          <label for="username">Username: </label>  <br>
          <input type="username" id="username" name="username">
          <input type="passwords" id="password" name="password">
          <input type="submit"> <a href="{% url 'profile:index' user.id %}">login</a> <br>
      </div>
  </form>

  <div class="border-top pt-3">
    New Member?
    <a href="{% url 'signup'%}"> Sign up </a>
  </div>
</div>


{% endblock content %}
