{% extends "base.html" %}

{% block content %}

<h1> Staff Portal</h1>

<br>

<form>
    <div>
        <label for="sname">Legal full name: </label> <br>
        <input type="text" id="sname" name="sname" value="{{staff.name}}" readonly>
        <small> *please contact the admin if you need to change your legal full name</small>
    </div>
</form>

<br>

<p1>
    <b>Manage classes</b> 
    <br>
    <ul>
        {% for class in classes.all %}
        <li> {{class.name}}
            <a href="{% url 'profile:class' class.id%}">see more details</a>
            <a href="{% url 'profile:staff'%}">delete</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'profile:classlist'%}"> See all available courses </a>
</p1>


{% endblock content %}